* {
    box-sizing: border-box;
}
@media screen and (max-width:480px) {
    a {
        text-decoration: none;
        color: black
    }
    .hidden-on-desktop {
        display: flex;
        background: skyblue;
        justify-content: center;
        align-items: center;
        border: solid gray;
        text-decoration: none;
        padding: 1em
    }
    nav a {
        color: blue;
    }
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        background: lightgray;
        list-style: none;
        text-decoration: underline;
        padding: 1em;
        margin: 1em 0;
    }
    .nav-links {
        padding: 0;
    }
    .header-img {
        display: flex;
        width: 100%;
    }
    body {
        margin: 1em;
        display: flex;
        justify-content: space-between;
        align-content: center;
        flex-direction: column;
    }
    main {
    display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sub-section {
    font-style: italic;
        padding-bottom: 4em;
    }
    h1 {
    display: flex;
        justify-content: center;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}